@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600;700;800&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
body {
  height: 100%;
  font-family: "Nunito";
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  min-height: 100%;
  max-width: 100%;
}

.container {
  width: 1220px;
}

.header__container::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 200vw;
  left: -100vw;
  z-index: -1;
}

.header__container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100px;
}

.top-svg {
  position: absolute;
  top: -50px;
  z-index: -2;
  overflow: hidden;
}

.bottom-svg {
  position: absolute;
  bottom: -60px;
  z-index: -2;
  overflow: hidden;
}

.logo {
  font-style: normal;
  font-weight: 800;
  font-size: 40px;
  line-height: 55px;
  color: #3c39e0;
  cursor: pointer;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 70px;
  font-weight: 700;
  font-size: 25px;
  line-height: 55px;
  cursor: pointer;
}

.about {
  color: #3c39e0;
}

.lessons {
  color: #0f204c;
}
.lessons:hover {
  color: #3c39e0;
}

.team {
  color: #0f204c;
}
.team:hover {
  color: #3c39e0;
}

.title {
  color: #0f204c;
  font-weight: 700;
  font-size: 50px;
}

.images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}

.images img {
  height: 295px;
  overflow: hidden;
}

.main__container {
  padding: 30px 0 0px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.main__container > div:not(:last-child) {
  padding-bottom: 30px;
}

.text {
  font-size: 20px;
  line-height: 30px;
}

.footer__container {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 12vh;
  font-family: "Nunito", serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #0f204c;
  position: absolute;
  bottom: -30px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
}
.footer__contacts {
  -ms-flex-item-align: space-between;
  -ms-grid-row-align: space-between;
  align-self: space-between;
}
.footer__contacts > div {
  padding-top: 10px;
}
.footer__contact {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.footer__icon {
  font-size: 18px;
}
